
/* MEDIA QUERIES */

@media only screen and (min-width: 100px) and (max-width: 1920px) {}
@media only screen and (min-width: 100px) and (max-width: 1550px) {}
@media only screen and (min-width: 100px) and (max-width: 1366px) {
    .header-logo img {
        width: 40%;
    }
}
@media only screen and (min-width: 100px) and (max-width: 1200px) {
    .brand-img img {
        width: 140px;
        object-fit: contain;
        height: 60px;
    }
    
}
@media only screen and (min-width: 100px) and (max-width: 1023px) {
    .header-logo img {
        width: 50%;
    }
    .about-inner h4 {
        font-size: 17px;
    }
    .about-inner h1 {
        font-size: clamp(32px, 6vw, 32px);
        line-height: 40px;
        padding: 10px 0;
    }
    .about-inner p {
        font-size: 14px;
        color: #1E1E1E;
        font-weight: 300;
        line-height: 20px;
        font-family: 'Poppins';
    }
    .our-cleaning h1 {
        font-size: clamp(36px, 4vw, 58px);
        font-weight: bold;
        color: #1E1E1E;
        line-height: 55px;
        padding: 12px 0;
    }
    .join-clean-team {
        border: 4px solid #ffffff30;
        padding: 2rem
    }
    .inspired-by h1
 {
    font-size: clamp(36px, 6vw, 38px);
    font-weight: bold;
    color: #1E1E1E;
    line-height: 50px;
    padding: 10px 0;
}
.header-navbar {
    display: block;
}
.book-clean-btn.header-btn.text-end {
    display: block;
}
#hamburger-icon span {
    display: none;
}

 .times-items span img {
    width: 14px; 
 }
 .why-choose-us > .container-fluid  > .row{
  align-items: center;  
 }
 span.blog-content {
    font-size: 11px;
}
.blogs-inner h4 {
    font-size: 17px;
}
.banner-img img {
    height: 300px;
}

}

@media only screen and (min-width: 100px) and (max-width: 991px) {
   
    .logo img {
        width: 85%;
    }
    .hamburger-toggle {
        position: absolute;
        right: 44px;
    }
    .book-clean-btn.header-btn.text-end {
        display: none;
    }
    ul.social-list li a {
        background-color: #e9c380;
        /* padding: 7px 13px; */
        border-radius: 50%;
        height: 35px;
        display: block;
        width: 35px;
        text-align: center;
        line-height: 37px;
    }

.header-navbar {
    display: none;
}
    .home-serv img {
        width: 90px;
        height: 80px;
        margin-bottom: 20px;
        object-fit: contain;
    }
    .counter {
        padding: 3rem;
    }
    .hero-main {
        height: 740px;
        align-items: end;
    }
    .header-logo {
        display: flex;
        align-items: center;
    }
    .hero-main .book-clean-btn ul {
        justify-content: center;
    }
    
.hero-main > .container-fluid > .content > .row {
    justify-content: center;
    text-align: center;
}
   
}
@media only screen and (min-width: 100px) and (max-width: 767px) {
    .hero-main .book-clean-btn ul {
        justify-content: center;
    }
    .brand-img img {
        width: 90px;
    }
    .footer-sec .logo {
        margin-bottom: 2rem;
    }
    .logo img {
        width: 55%;
    }
    .home-serv {
        margin: 10px 0;
    }
    
.why-choose-us .serv-detail-inner {
    text-align: center;
}
}
@media only screen and (min-width: 100px) and (max-width: 475px) {
    .home-serv {
        margin-top: 1rem;
    }
    .brand-img img {
        width: 60px;
        height: 20px;
    }
}
@media only screen and (min-width: 100px) and (max-width: 450px) {
    ol.clean-list {
        line-height: 30px;
        font-size: 12px;
    }
    .bt-before:before {
        left: 90px;
        top: 11px;
    }
}
@media only screen and (min-width: 100px) and (max-width: 375px) {
    .header-logo img {
        width: 36%;
    }
    .count h3 {
        font-size: 40px;
    }
    .hero-main ul.btn-list {
        font-size: 14px;
    }
    .count p {
        font-size: 10px;
    }
    .counter-inner::before
 {
    height: 34px;
    top: 15px;
}
.about-inner h1 {
    font-size: clamp(22px, 6vw, 32px);
    line-height: 35px;
    padding: 7px 0;
}
.about-inner p {
    font-size: 10px;
}
.bt-before:before {
    left: 0px;
    top: 11px;
}
.join-team-inner h1
 {
    font-size: 30px;
 }
 .join-team-inner p
{
    font-size: 11px;
 }
 ol.clean-list {
    line-height: 30px;
    font-size: 11px;
}
.copyright p {
    color: #FFFFFF;
    font-size: 11px;
}
.about-inner h1 {
    font-size: clamp(20px, 5vw, 32px);
    line-height: 35px;
    padding: 7px 0;
}
ul.social-list {
    display: flex
;
    gap: 16px;
    list-style: none;
    padding: 7px 0;
    font-size: 18px;
}
.feedback a {
    padding: 0px 6px;
    color: #FFFFFF;
    font-size: 11px;
}

}
@media only screen and (min-width: 100px) and (max-width: 350px) {
    .counter-inner::before {
        height: 37px;
        top: 6px;
    }
    .feedback a {
        padding: 0px 6px;
        color: #FFFFFF;
        font-size: 11px;
    }
} 